<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Restaurant Search Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.css" media="screen" title="no title" /> -->
   <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
   <link rel="stylesheet" href="/styles.css" media="screen" />

</head>

<body>
  <div class="container">
    <!-- Search bar  -->
    <h3>Search restaurants</h3>
    <form action="/restaurantssearched" method="POST" class="form-search">
      <input type="text" name="query" placeholder="Search here">
      <br><br>
      <button type="submit">Search</button>
    </form>
    <hr>
    <h4>OR</h4>
    <hr>
    <!-- Drop down filters -->
    <h3>Filter restaurants</h3>
    <form class="" action="/restaurantsfiltered" method="POST">
      <h4>Select cuisine</h4>
        <select name="cuisine">
          <option value="option">---</option>
          <% for(var i=0; i<restaurants.length; i++) {%>
            <option><%= restaurants[i].cuisine %></option>
          <% } %>
        </select>
      <h4>Select borough</h4>
        <select name="borough">
          <option value="option">---</option>
          <% for(var i=0; i<restaurants.length; i++) {%>
            <option><%= restaurants[i].borough %></option>
          <% } %>
        </select>
        <br><br>
        <button type="submit">Filter</button>
    </form>
  </div>
</body>

</html>
